Source: takorabbit
Section: utils
Priority: optional
Maintainer: Takoyaki <takoyaki1051@outlook.jp>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3
Homepage: https://takoyaki.pkopko.jp

Package: takorabbit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is Takoyaki Rabbit
